.ActionButton {
    margin: 8px !important; 
}

.ActionButton.icon-only {
    min-width: 40px ; 
    width: 40px ;
    height: 40px ;
    padding: 0 ;      
    border-radius: 4px ; 
}

.ActionButton.icon-only .MuiButton-startIcon {
    margin: 0 ;
}