/* 1. Eltüntetjük a fel-le nyilakat (spinners) */
.QuantityInput-field input::-webkit-outer-spin-button,
.QuantityInput-field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.QuantityInput-field input[type=number] {
  -moz-appearance: textfield;
}

.QuantityInput-paper {
    display: flex !important;       /* Egymás mellé rakja őket */
    align-items: center !important; /* Függőlegesen középre húzza őket */
    padding-left: 8px !important;   /* Kis hely bal oldalt a számnak */
    justify-content: space-between !important;
}

/* 2. Formázás */
.QuantityInput-field .MuiInputBase-input {
    width: 60% !important;
    text-align: center;      
    font-size: 1.1rem;
    align-items: center !important;
    padding: 2px 8px !important;
    gap: 8px !important;
    overflow: hidden !important;
}

/* 3. Biztonsági szabály: Ha véletlenül maradt vonal, tüntessük el */
.QuantityInput-field .MuiInput-root::before,
.QuantityInput-field .MuiInput-root::after {
    border-bottom: none !important;
}