/* 1. A KONTÉNER (Maga a Box) */
.DashboardControls-row {
    display: flex ;       
    align-items: center ; 
    justify-content: center; 
    gap: 16px;                      
    width: 100%;                    
}

/* 2. AZ ELEMEK SZÉLESSÉGE (Sorrend alapján) */
/* Az első elem (Hozzáadás gomb) */
.DashboardControls-row > :nth-child(1) {
    width: 20% ; 
}

/* A második elem (FilterBar - Középső) */
.DashboardControls-row > :nth-child(2) {
    width: 20% ; 
    
}

/* A harmadik elem (Törlés gomb) */
.DashboardControls-row > :nth-child(3) {
    width: 20%; 
    display: flex;
}