/* src/components/dashboard/FilterBar.css */

/* Ez a szabály a KIVÁLASZTOTT elemet célozza meg a Select belsejében */
.FilterBar .MuiSelect-select {
    display: flex ;      
    height: 24px ;
    padding-top: 20px ;
}