/* src/components/common/ConfirmDialog.css */

.ConfirmDialog-text {
    color: #c62828 ;
    font-weight: bold ;
}

.ConfirmDialog-content {
    padding: 24px 24px 10px 24px ;
    min-width: 300px;
    text-align: center ;
}

.ConfirmDialog-actions {
    padding: 16px 24px ;
    background-color: #fafafa;
    justify-content: space-between ;
}